*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gloria Hallelujah', cursive;
    width: 100%;
    --main-color: #87DDD3;
    --second-color: #54E294;
    --neon: #39FF14;
    

}